.bounce {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }

  50% {
    transform: translateY(74vh);
    animation-timing-function: ease-out;
  }

  100% {
    transform: translateY(0);
  }
}

.squash {
  animation: squash 5s infinite;
  transform-origin: center bottom;
}

@keyframes squash {
  0% {
  }

  49% {
    transform: scale(1, 1);
  }

  52% {
    transform: scale(1.2, 0.8);
  }
}
